.SliderButton {
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.SliderRotate {
  &-Up {
    transform: rotate(90deg);
  }
  &-Down {
    transform: rotate(-90deg);
  }
  &-Left {
    transform: rotate(360deg);
  }
  &-Right {
    transform: rotate(180deg);
  }
}
