.Header-Wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--header-total-height);
}

.Header {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  z-index: 100;
  height: fit-content;
  top: 0;
}

.Header-Nav {
  max-width: var(--content-wrapper-width);
  width: 100%;
  height: var(--header-total-height);
  display: flex;
  justify-content: space-between;
}

.Menu-MenuWrapper {
  margin-top: 24px;
}

.Menu-ItemList {
  display: flex;
  justify-content: space-between;
}

.Menu-Item {
  padding: 4px 16px 24px;
}

.Menu-Item_active,
.Menu-Item:hover {
  border-bottom: 2px solid var(--accent-color);
}

.Menu-Link {
  text-transform: uppercase;
}

.Menu-Item_active .Menu-Link,
.Menu-Item:hover .Menu-Link {
  color: var(--accent-color);
  font-weight: 600;
  font-family: 'RalewaySemiBold';
}

.Header-LogoWrapper {
  width: 41px;
  padding: 5px;
  margin-top: 24px;
}

.Header-WrapperActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  margin-top: 23px;
}

.ArrowIcon_direction_top {
  transform: rotate(180deg);
}

.CurrencySwitcher-Header {
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.CurrencySwitcher-Current {
  font-size: 18px;
  font-family: 'RalewayMedium';
  padding: 10px;
  line-height: 1;
  pointer-events: none;
}

.ArrowIcon {
  height: 4px;
}

.CurrencySwitcher-ItemList {
  filter: drop-shadow(0px 4px 20px rgba(168, 172, 176, 0.19));
  display: none;
  flex-direction: column;
  list-style-type: none;
  width: 114px;
  align-items: flex-start;
  font-family: 'RalewayMedium';
  font-size: 18px;
  line-height: 1;
  position: absolute;
  top: 40px;
}

.CurrencySwitcher-ItemList_active {
  display: flex;
}

.CurrencySwitcher-Item {
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  background-color: #fff;
}

.CurrencySwitcher-Item:hover {
  background-color: #eeeeee;
}

.CurrencySwitcher-Item:first-child {
  padding-top: 20px;
}

.CurrencySwitcher-Item:last-child {
  padding-bottom: 20px;
}

.BasketWrapper {
  position: relative;
}

.Basket-CounterProducts {
  position: absolute;
  background-color: var(--paragraph-font-color);
  font-weight: 700;
  font-size: 14px;
  font-family: 'RobotoBold';
  border-radius: 50%;
  padding: 0px;
  color: #fff;
  bottom: 12px;
  left: 12px;
  display: flex;
  width: 21px;
  height: 21px;
  justify-content: center;
  align-items: center;
}

/* MiniCart */

.Header-MiniCartWrapper_isVisible {
  position: fixed;
  left: 0px;
  top: var(--header-total-height);
  height: 100vh;
  width: 100vw;
  background: rgba(57, 55, 72, 0.22);
  z-index: 10;
}

.Header-MiniCartWrapper {
  transition: background-color, 0.2s;
}

.Header-MiniCartOutside {
  width: 100%;
  height: 100%;
}

.CartOverlay {
  position: fixed;
  top: var(--header-total-height);
  right: 10%;
  padding: 32px 16px;
  width: 325px;
  max-height: 100vh;
  overflow-y: scroll;
  border-style: none;
  display: block;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
}

.CartOverlay::-webkit-scrollbar {
  display: none;
}

.CartOverlay-CountItems {
  text-align: left;
  font-size: var(--paragraph-font-size);
  font-family: 'RalewayMedium';
  font-weight: 500;
  line-height: 1;
  padding-bottom: 32px;
}

.CartOverlay-CountName {
  font-weight: 700;
  font-family: 'RalewayBold';
}
