@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayBold/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold/RalewayBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayLight/RalewayLight.woff2') format('woff2'),
    url('../fonts/RalewayLight/RalewayLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayMedium/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/RalewayMedium/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayRegular/RalewayRegular.woff2') format('woff2'),
    url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewaySemiBold/RalewaySemiBold.woff2') format('woff2'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'),
    url('../fonts/RobotoBold/RobotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansProRegular/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansProRegular/SourceSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --accent-color: #5ece7b;
  --white-color: #fff;
  --paragraph-font-color: #1d1f22;
  --out-of-stock-color: #8d8f9a;
  --header-total-height: 80px;
  --menu-item-height: 16px;
  --paragraph-font-size: 16px;
  --content-wrapper-width: 1238px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-line-height: 160%;
  --paragraph-text-transform: none;
  --link-underline: none;
  --padding-content: 80px;
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit;
  outline: 0;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

figure {
  display: block;
}

li {
  list-style-type: none;
  list-style-position: inside;
}

dl,
h4,
li,
p {
  color: var(--paragraph-font-color);
  font-size: var(--paragraph-font-size);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
  text-transform: var(--paragraph-text-transform);
}

a {
  border-bottom: var(--link-underline);
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  text-decoration: none;
}

a,
body {
  color: var(--paragraph-font-color);
}

body {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  display: block;
}

input:is([type='button'], [type='submit'], [type='reset']),
input[type='file']::file-selector-button,
button {
  color: initial;
}

button {
  background-color: transparent;
  cursor: pointer;
}
