.Header-Wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--header-total-height);
}

.Header {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  z-index: 100;
  height: fit-content;
  top: 0;
  background-color: var(--white-color);
  &-Nav {
    max-width: var(--content-wrapper-width);
    width: 100%;
    height: var(--header-total-height);
    display: flex;
    justify-content: space-between;
  }
  &-WrapperActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    margin-top: 23px;
  }
}
