.MinicartButtonWrapper {
  position: relative;
}

.MinicartButton-CounterProducts {
  position: absolute;
  background-color: var(--paragraph-font-color);
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 50%;
  padding: 0px;
  color: #fff;
  bottom: 12px;
  left: 12px;
  display: flex;
  width: 21px;
  height: 21px;
  justify-content: center;
  align-items: center;
}

.MinicartButton-Color {
  background-color: var(--accent-color);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
