.Loader {
  font-size: 3rem;
  border: 0.4em solid var(--accent-color);
  border-top-color: #a7ffbe;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: loading-spinner 2s linear infinite;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: var(--font-size);
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
